*.icloud
target/
bin/
personal/
homeip.txt
settings.xml
nvidia/
idea/
pharo/
learn/
org/
software/
videos/
zoom/
dotfiles/
books/
/vendor
/_site
.bundle/
Gemfile.lock
.ipynb_checkpoints
.DS_Store
.localized
*.swp

build/
.dart_tool
.packages
